directory.default.set = ~/rtorrent/downloads

session.path.set = ~/rtorrent/.session

network.port_range.set = 51001-51250 

network.port_random.set = yes

pieces.hash.on_completion.set = no

trackers.use_udp.set = yes

dht.mode.set = disable

protocol.pex.set = no

scgi_port = 127.0.0.1:5000
